body {
	margin: 0;
	padding: 0;
}

#root {
	margin: 0;
	width: 350px;
	height: 450px;
	overflow: hidden;

	a {
		padding: 0 10px;
	}
}

.content {
	padding: 0 15px 15px 15px;
}

.categories-wrap {
	padding: 1px;
}

.bar-right {
	float: right;
	margin-top: 15px;
	margin-right: 9px;
}

.back-button {
	cursor: pointer;
}

.top-title-group {
	margin-left: -15px;
}

.top-title-box {
	display: inline-block;
	vertical-align: top;
}

.render-text-field {
	height: 75px;
}
