body {
	margin: 0;
	padding: 0;
}

#root {
	margin: 0;
	width: 200px;
	height: 200px;
	a {
		padding: 0 10px;
	}
}

.content {
	padding: 5px;
	font-size: 13px;
}
.settings-wrap {
	padding: 10px;
	overflow-x: hidden;
}
